{% extends 'base.html' %}

{% block title %}Grupos de Edad{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Lista de Grupos de Edad</h1>
    <div>
        <a href="{% url 'pusukids:groupage_create' %}" class="btn btn-primary me-2">Registrar Nuevo Grupo Edad</a>
        <a href="{% url 'pusukids:index' %}" class="btn btn-secondary">Regresar al Menú Principal</a>
    </div>
</div>
{% if groupages %}
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for groupage in groupages %}
            <tr>
                <td>{{ groupage.name }}</td>
                <td>{{ groupage.description }}</td>
                <td>
                    <a href="{% url 'pusukids:groupage_update' groupage.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'pusukids:groupage_delete' groupage.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay grupos de edad retistrados.</p>
{% endif %}
{% endblock %}
