{% extends "base.html" %}
{% load static %}

{% block title %}Panel Principal{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Bienvenido, {{ request.user.username }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Selecciona la aplicaci&oacute;n a la que deseas acceder.</p>
            {% if user.is_staff or user.is_superuser %}
            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'admin:index' %}" class="btn btn-warning btn-lg px-4">
                    <i class="fas fa-user-shield me-2"></i>Ir a Administraci&oacute;n
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% if app_perms.can_access_cunakids %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Cuna Kids</h5>
                    <p class="card-text">Gesti&oacute;n de ni&ntilde;os, asistencias y coordinadores del ministerio de cuna.</p>
                    <a href="{% url 'cunakids:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_academia %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Academia</h5>
                    <p class="card-text">Gesti&oacute;n de cursos, estudiantes y profesores de la academia.</p>
                    <a href="{% url 'academia:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_alabanza %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Alabanza</h5>
                    <p class="card-text">Administraci&oacute;n del ministerio de alabanza.</p>
                    <a href="{% url 'alabanza:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_anfitriones %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Anfitriones</h5>
                    <p class="card-text">Coordinaci&oacute;n del equipo de anfitriones.</p>
                    <a href="{% url 'anfitriones:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_discipulado %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Discipulado</h5>
                    <p class="card-text">Seguimiento y gesti&oacute;n de grupos de discipulado.</p>
                    <a href="{% url 'discipulado:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_encuentros %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Encuentros</h5>
                    <p class="card-text">Organizaci&oacute;n de encuentros y retiros.</p>
                    <a href="{% url 'encuentros:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_jap %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">JAP</h5>
                    <p class="card-text">Ministerio de J&oacute;venes Adultos Profesionales.</p>
                    <a href="{% url 'jap:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_pusukids %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Pusukids</h5>
                    <p class="card-text">Gesti&oacute;n de ni&ntilde;os, asistencias y coordinadores del ministerio de ni&ntilde;os.</p>
                    <a href="{% url 'pusukids:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_pequediks %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Pequekids</h5>
                    <p class="card-text">Gesti&oacute;n de ni&ntilde;os de 2 a 4 a&ntilde;os, asistencias y coordinadores del ministerio de ni&ntilde;os.</p>
                    <a href="{% url 'pequediks:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if app_perms.can_access_jpro %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">J&oacute;venes profesionales</h5>
                    <p class="card-text">Gesti&oacute;n de j&oacute;venes profesionales, asistencias y coordinadores del ministerio de j&oacute;venes profesionales.</p>
                    <a href="{% url 'jpro:index' %}" class="btn btn-primary mt-auto">Acceder</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
